In [2]:
import pandas as pd
import numpy as np

                                        GANTI NAMA FILE BULAN APA YANG MAU DI INPUT DAN RUNNING

In [15]:
# data_absen_bulan = pd.read_excel('21dec-20jan.xlsx', index= False)
# data_absen_bulan_tambahan = pd.read_excel('21jan-20feb.xlsx', index= False)
# data_absen_perbulan = data_absen_bulan[['No','NAMA KARYAWAN','NEW MANUAL','NEW SISTEM','UNIT KERJA','01/01/2024','02/01/2024','03/01/2024','04/01/2024','05/01/2024','06/01/2024','07/01/2024','08/01/2024','09/01/2024','10/01/2024','11/01/2024','12/01/2024','13/01/2024','14/01/2024','15/01/2024','16/01/2024','17/01/2024','18/01/2024','19/01/2024','20/01/2024']]
# data_absen_perbulan[['21/01/2024','22/01/2024','23/01/2024','24/01/2024','25/01/2024','26/01/2024','27/01/2024','28/01/2024','29/01/2024','30/01/2024']] = data_absen_bulan_tambahan[['21/01/2024','22/01/2024','23/01/2024','24/01/2024','25/01/2024','26/01/2024','27/01/2024','28/01/2024','29/01/2024','30/01/2024']]

                                                        MASUKINNN TANGGAL MERAH DI BULAN TERSEBUT                                                          
                                    JIKA SUDAH DI ENTER MASUK KE STEP BERIKUTNYA UNTUK SIMPAN DI CUTI TAHUNAN

In [14]:
from datetime import datetime, timedelta

# MASUKIN TANGGAL MERAH
tanggal_merah = ["2024-01-09"]
tanggal_columnsk = data_absen_perbulan.columns[6:]
def hitung_jumlah_ga_masuk(row):
    for col in data_absen_perbulan.columns[6:]:  
        if pd.notna(row[col]) and "Tidak Masuk" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'A'
        elif pd.notna(row[col]) and "sakit" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'S'
        elif pd.notna(row[col]) and "cuti" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'C'
        elif pd.notna(row[col]) and "izin" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'I'
        elif pd.notna(row[col]) and "cuti khusus" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'CK'
        elif pd.notna(row[col]) and "tugas" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'T'
        elif pd.notna(row[col]) and "raker" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'R'
        elif pd.notna(row[col]) and "pkl/skripsi" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'pkl/skripsi'
        elif pd.notna(row[col]) and "kuliah" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'K'
        elif pd.notna(row[col]) and "smnr/plthn" in str(row[col]) and pd.to_datetime(col, format="%d/%m/%Y").weekday() < 5 and col not in tanggal_merah:
            row[col] = 'smnr/plthn'
        else:
            row[col] = pd.NaT

        
    return row
data_absen_perbulan = data_absen_perbulan.apply(hitung_jumlah_ga_masuk, axis=1)



def hitung_jumlah_A(row):
    return sum([1 for col in row if pd.notna(col) and col == 'A'])
data_absen_perbulan['ALPHA'] = data_absen_perbulan.apply(hitung_jumlah_A, axis=1)
def hitung_jumlah_S(row):
    return sum([1 for col in row if pd.notna(col) and col == 'S'])
data_absen_perbulan['SAKIT'] = data_absen_perbulan.apply(hitung_jumlah_S, axis=1)
def hitung_jumlah_C(row):
    return sum([1 for col in row if pd.notna(col) and col == 'C'])
data_absen_perbulan['CUTI'] = data_absen_perbulan.apply(hitung_jumlah_C, axis=1)
def hitung_jumlah_T(row):
    return sum([1 for col in row if pd.notna(col) and col == 'T'])
data_absen_perbulan['TUGAS'] = data_absen_perbulan.apply(hitung_jumlah_T, axis=1)
def hitung_jumlah_K(row):
    return sum([1 for col in row if pd.notna(col) and col == 'K'])
data_absen_perbulan['KULIAH'] = data_absen_perbulan.apply(hitung_jumlah_K, axis=1)
def hitung_jumlah_I(row):
    return sum([1 for col in row if pd.notna(col) and col == 'I'])
data_absen_perbulan['IZIN'] = data_absen_perbulan.apply(hitung_jumlah_I, axis=1)
def hitung_jumlah_R(row):
    return sum([1 for col in row if pd.notna(col) and col == 'R'])
data_absen_perbulan['RAKER'] = data_absen_perbulan.apply(hitung_jumlah_R, axis=1)
def hitung_jumlah_pkl_skripsi(row):
    return sum([1 for col in row if pd.notna(col) and col == 'pkl/skripsi'])
data_absen_perbulan['pkl/skripsi'] = data_absen_perbulan.apply(hitung_jumlah_pkl_skripsi, axis=1)
def hitung_jumlah_smnr_plthn(row):
    return sum([1 for col in row if pd.notna(col) and col == 'smnr/plthn'])
data_absen_perbulan['smnr/plthn'] = data_absen_perbulan.apply(hitung_jumlah_smnr_plthn, axis=1)
def hitung_jumlah_ck(row):
    return sum([1 for col in row if pd.notna(col) and col == 'CK'])
data_absen_perbulan['CUTI KHUSUS'] = data_absen_perbulan.apply(hitung_jumlah_ck, axis=1)

pd.set_option('display.max_columns', None)
# data_absen_perbulan
# data_absen_perbulan.to_excel("rekap cuti januaryy.xlsx", index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti february.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti march.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti april.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti may.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti juny.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti july.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti agustus.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti september.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti october.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti november.xlsx', index= False)
# data_absen_perbulan
# data_absen_perbulan.to_excel('rekap cuti december.xlsx', index= False)
# data_absen_perbulan

,No,NAMA KARYAWAN,NEW MANUAL,NEW SISTEM,UNIT KERJA,KHUSUS,09/01/2024,10/01/2024,11/01/2024,12/01/2024,13/01/2024,14/01/2024,15/01/2024,16/01/2024,17/01/2024,18/01/2024,19/01/2024,20/01/2024,21/01/2024,22/01/2024,23/01/2024,24/01/2024,25/01/2024,26/01/2024,27/01/2024,28/01/2024,29/01/2024,30/01/2024,31/01/2024,01/02/2024,ALPHA,SAKIT,CUTI,TUGAS,KULIAH,IZIN,RAKER,pkl/skripsi,smnr/plthn,CUTI KHUSUS
0,1,"SITI JUMHATI,S.ST.,SKM., M.Kes.",Jumhati-1167,1213090125 - SITI JUMHATI,WAKIL REKTOR I,35000,NaT,NaT,NaT,NaT,NaT,NaT,I,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,1,0,0,0,0
1,2,"Dr. Dra.SUSIANA DEWI RATIH,MM",Susiana-121,1213110132 - SUSIANA DEWI RATIH,WAKIL REKTOR II,35000,NaT,NaT,A,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,12,0,0,0,0,0,0,0,0,0
2,3,"Dr. NUR ASNIATI DJAALI, SKM., MKM",Nur asniati-1110,1216080203 - NUR ASNIATI DJAALI,WAKIL REKTOR III,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,C,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,1,0,0,0,0,0,0,0
3,4,"SUNDARI FATIMAH, STr.Keb.,MTr.Keb.",Sundari fatimah-1108,1219040263 - SUNDARI FATIMAH,SEKRETARIS REKTOR,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,T,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,1,0,0,0,0,0,0
4,5,"ABDUL WAHID,SIP",A wahid-139,1214030149 - ABDUL WAHID,SEKRETARIS REKTOR,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
5,6,"M. MUHIDIN, S.Kom., MM.",Muhidin-117,1210100077 - MOH. MUHIDIN M.,KA. BIRO AKADEMIK,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,12,0,0,0,0,0,0,0,0,0
6,7,"SIWI PURWANTI, SE",Siwi-116,1200090032 - SIWI PURWANTI,KOOR. PEL. AKADEMIK & PENDIDIKAN,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
7,8,"SUPRIYADI, S.Kom",Supriyadi-119,"1217040211 - SUPRIYADI, S.Kom",KOOR. PANG. DATA PEND. TINGGI (PDPT),35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
8,9,"RENDY ALBIANSYAH, S.Kom",Rendi albiansyah-173,1219010254 - RENDY ALBIANSYAH,STAF PDPT,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
9,10,"FARHATUN MAULIDA, SE.",Farhatun Maulida-1229,NaN,STAF PEL. AKADEMIK,35000,NaT,NaT,NaT,NaT,NaT,NaT,S,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,1,0,0,0,0,0,0,0,0
10,11,"RINTO RIVANTO, SE., MM",Rinto rivanto-1139,1202020037 - RINTO RIVANTO,KA. BIRO KEMAHASISWAAN & ALUMNI,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
11,12,"HASAN BASRI, SE., MM.",Hasan basri-1154,1203030042 - HASAN BASRI,STAF BIRO KEMAHASISWAAN & ALUMNI,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
12,13,"ZULAIKHA, AM Keb. SKM.,MKM.",Zulaika-1146,1205040052 - ZULAIKA,STAF BIRO KEMAHASISWAAN & ALUMNI,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
13,14,"Dr.HERNI PUJIATI,SE.,MM",Herni pujiati-152,1215070186 - HERNI PUJIATI,STAF BIRO KEMAHASISWAAN & ALUMNI,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,smnr/plthn,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,1,0
14,15,"RENI FEBRIANTI,SE.,MM., MKM.",Reni febrianti-1109,1212040109 - RENI FEBRIANTI,KA.BIRO UMUM,35000,NaT,NaT,NaT,C,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,1,0,0,0,0,0,0,0
15,16,"ARIEF WIBOWO, SE",Arief-1124,1210070076 - ARIEF WIBOWO,STAF BIRO UMUM,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
16,17,JAMALUDIN,Jamaludin-149,1216110206 - JAMALUDIN,STAF BIRO UMUM,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
17,18,"HAIS NANDA, S.Kom.",Haisnanda-141,1215100191 - HAIS NANDA,STAF BIRO UMUM,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
18,19,"ADE SANDRA, S.Kom.",Ade sandra-153,1217100225 - ADE SANDRA,STAF BIRO UMUM,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0
19,20,RUDI AKHBARUDIN,Rudi akbarudi-178,1200100034 - RUDI AKHBARUDIN,KURIR,35000,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,A,NaT,NaT,A,A,A,A,A,NaT,NaT,A,A,A,A,11,0,0,0,0,0,0,0,0,0